.MediaButton {
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
  width: 3rem;
  transition: 0.3s;
}

.MediaButton:hover .icon {
  color: var(--primary-color);
}
