/* globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --max-width: 1964px;
  --border-radius: 5px;

  --primary-color: whitesmoke;
  --secondary-color: black;
  --accent-color: rgb(95, 99, 79);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: black;
    --secondary-color: whitesmoke;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  position: relative;
  background-color: var(--primary-color);
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-color);
}

section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

h1 {
  font-weight: 200;
  font-size: 3rem;
}

h2 {
  font-weight: 200;
  font-size: 2rem;
}

h3 {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 2rem;
}

p {
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Super Wide Screens */
@media screen and (min-width: 100px) {
}

/*Tablet*/
@media screen and (max-width: 800px) {
}

/*Mobile*/
@media screen and (max-width: 640px) {
}
