.DefaultContainer {
  max-width: var(--max-width);
}

.HeaderGrid {
  display: grid;
}

.HeaderGrid div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.HeadingContainer {
  position: sticky;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  padding-top: 10px;
  padding-bottom: 15px;
  align-self: start;
  top: 0;
  width: 100%;
  z-index: 1;
}

#WebsiteHeading {
  color: var(--primary-color);
}

.HeaderImageContaier {
}

.BannerImage {
  opacity: 97%;
}

#HeaderImage {
  width: 100%;
  height: auto;
}

.WhiteSection {
  padding: 10rem;
}

.SocialMediaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Super Wide Screens */
@media screen and (min-width: 1964px) {
}

/*Tablet*/
@media screen and (max-width: 800px) {
  .HeadingContainer {
    margin-top: 90px;
  }
}

/*Mobile*/
@media screen and (max-width: 640px) {
  .HeadingContainer {
    margin-top: 20px;
  }
}
